<div class="hero-unit">
	<p>
		<%= form_tag(flights_show_path, :method => "get", id: "search-form") do %>
		<p>
			<%= text_field_tag :search, params[:search], placeholder: "Departure City" %>

			<%= submit_tag "Search", :departure_city_id => nil%>			
		</p>
		<% end %>
	</p>
</div>



