<div class="col-md-8 col-md-offset-2">
  <h1>Schedules</h1>
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Departure time</th>
        <th>Arrival time</th>
        <th>Departure City</th>
        <th>Arrival City</th>
        <th>Airplane</th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @result.each do |row| %>
        <tr>
          <td><%= row %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  
</div>