// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.big-banner
	background-image: image-url("Plane.png")
	width: 100%
	height: 1037px

#navbar-home
	padding-top: 3%

	.navbar-header
		background-color: rgba(255, 255, 255, 0.4)
		border-radius: 5px
		padding: 10px

	.navbar-nav
		> li > a
			color: white

			&:hover, &:focus
				color: black
				background-color: rgba(255, 255, 255, 0.4)
				border-radius: 4px

	.navbar-btn
		margin: 0 5px

	.sign-in-form
		padding: 10px

$blue-color: #11abbf
$gray-color: #8d8d8d

#beach-and-slogan
	padding-top: 75%
	margin-left: 0
	margin-right: 0

	.blue-title
		color: $blue-color

	.gray-text
		color: $gray-color

#cities
	padding-top: 5% 
	text-align: center